*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus, :active {outline: none;};
a:focus, a:active {outline: none;};

nav, footer, header, aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	font-family: Roboto;
	font-style: normal;
	-ms-text-size-abjust: 100%;
	-moz-text-size-abjust: 100%;
	-webkit-text-size-abjust: 100%;
}

input,button,textarea{font-family: inherit;}

.background-block1{
	position: absolute;
	width: 1680px;
	height: 608px;
	float: left;
    margin-right: 5px;
    opacity: 0.2;
    filter: alpha(opacity=20); /*для IE8 и более ранних версий*/
}

.blok1{




}


.logo{
	position: absolute;
	width: 241px;
	height: 37px;
	left: 250px;
	top: 33px;
}


p.blok1_logo_txt{
	position: absolute;
	width: 224px;
	height: 17px;
	left: 313px;
	top: 63px;

	font-weight: normal;
	font-size: 12px;
	line-height: 17px;

	display: flex;
	align-items: center;

	color: #4F4F4F;
}

.blok2{
	position: absolute;
	width: 1680px;
	height: 608px;
	left: 10px;
	top: 10px;
	background-color: #E5E5E5;
}

#menu-navigate{
	margin-left: 650px;
	display: flex;
	align-items: center;
}

#menu-navigate p{
	font-weight: normal;
	font-size: 16px;
	line-height: 25px;
	margin-top: 43px;
	margin-right: 26px;
	color: #222222;
}

#menu-menu-phone{
	margin-tleft: 1274px;
	margin-ttop: 27px;
}

#menu-phone{
	position: absolute;
	width: 156px;
	height: 22px;
	left: 1274px;
	top: 27px;

	
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	display: flex;
	align-items: center;

	color: #444444;
}

#phone-butt{

	position: absolute;
	width: 147px;
	height: 26px;
	left: 1283px;
	top: 59px;

	background-color: #FF5C5C;

	border-radius: 2px;
}

#phone-butt p{

	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #FFFFFF;

	justify-content: center;
}

#bloc1_text1{
	position: absolute;
	width: 654px;
	height: 113px;
	left: 250px;
	top: 152px;

	font-weight: bold;
	font-size: 32px;
	line-height: 37px;
	display: flex;
	align-items: center;

	color: #444444;

}

#bloc1_text2{
	position: absolute;
	width: 569px;
	height: 33px;
	left: 250px;
	top: 325px;

	font-weight: normal;
	font-size: 23px;
	line-height: 32px;

	display: flex;
	align-items: center;

	color: #444444;
}

#spec-predl  {
	position: absolute;
	width: 430px;
	height: 513px;
	left: 1000px;
	top: 123px;

	background: #FFFFFF;

	box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.24);
	border-radius: 2px;
}

#spec-predl-text1{
	position: absolute;
	margin-top: 50PX;
	margin-left: 63px;
	margin-right: 67px;

	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	line-height: 32px;
	display: flex;
	align-items: center;

	color: #444444;
}

.spec_pred_ogr{
	position: absolute;
	width: 300px;
	height: 37px;
	left: 65px;
	top: 173px;

	font-style: normal;
	font-size: 14px;
	line-height: 18px;
	display: flex;
	align-items: center;

	color: #80A2C5;
}


#spec-predl-butt{
	position: absolute;
	width: 300px;
	height: 50px;
	left: 65px;
	top: 407px;

	background: #FF5C5C;
	/* кнопка (normal) */

	box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.24);
	border-radius: 2px;
}

#spec-predl-butt p{
	
	justify-content: center;

	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;

	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.04em;
	text-transform: uppercase;

	color: #FFFFFF;
}

.blokIvan{

    position: absolute;
    width: 81px;
    height: 26px;
    left: 1065px;
    top: 363px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;

    display: flex;
    align-items: center;

    color: #444444;


}