*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus, :active {outline: none;};
a:focus, a:active {outline: none;};

nav, footer, header, aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-abjust: 100%;
	-moz-text-size-abjust: 100%;
	-webkit-text-size-abjust: 100%;
}

input,button,textarea{font-family: inherit;}

.blok1{
	position: all;
	min-width: 940px;
	width: 100%;
  	height: 100%;
	background-color: #EDEFF2;
	background-image: url(rsg0gvN4U-k.jpg);

    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100%;
}


.logo{
	position: absolute;
	width: 241px;
	height: 37px;
	left: 250px;
	top: 33px;
}


p.blok1_logo_txt{
	position: absolute;
	width: 224px;
	height: 17px;
	left: 313px;
	top: 63px;

	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 17px;

	display: flex;
	align-items: center;

	color: #4F4F4F;
}

.blok2{
	position: absolute;
	width: 1680px;
	height: 608px;
	left: 10px;
	top: 10px;
	background-color: #E5E5E5;
}

#menu-navigate{
	margin-left: 650px;
	display: flex;
	align-items: center;
}

#menu-navigate p{
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 25px;
	margin-top: 43px;
	margin-right: 26px;
	color: #222222;
}

#menu-menu-phone{

margin-tleft: 1274px;
margin-ttop: 27px;

}


