*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus, :active {outline: none;};
a:focus, a:active {outline: none;};

nav, footer, header, aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	font-family: Roboto;
	font-style: normal;
	-ms-text-size-abjust: 100%;
	-moz-text-size-abjust: 100%;
	-webkit-text-size-abjust: 100%;
}

input,button,textarea{font-family: inherit;}

.blok1{
	background: url('../images/img_blok1.svg') no-repeat center;
	width: 1680px;
	height: 608px;
}


.logo{
	position: absolute;
	width: 241px;
	height: 37px;
	left: 250px;
	top: 33px;
}

p.blok1_logo_txt{
	position: absolute;
	width: 224px;
	height: 17px;
	left: 313px;
	top: 63px;
	font-weight: normal;
	font-size: 12px;
	line-height: 17px;
	display: flex;
	align-items: center;
	color: #4F4F4F;
}

#menu-navigate{
	margin-left: 650px;
	display: flex;
	align-items: center;
}

#menu-navigate p{
	font-weight: normal;
	font-size: 16px;
	line-height: 25px;
	margin-top: 43px;
	margin-right: 26px;
	color: #222222;
}

#menu-menu-phone{
	margin-tleft: 1274px;
	margin-ttop: 27px;
}

#menu-phone{
	position: absolute;
	width: 156px;
	height: 22px;
	left: 1274px;
	top: 27px;
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	display: flex;
	align-items: center;
	color: #444444;
}

#phone_numder{
	position: absolute;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	display: flex;
	align-items: center;
	color: #444444;
}

.phone-butt{
	position: absolute;
	width: 147px;
	height: 26px;
	left: 1283px;
	top: 59px;
	background-color: #FF5C5C;
	border-radius: 2px;
}

.phone-butt p{
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #FFFFFF;
	justify-content: center;
}

#bloc1_text1{
	position: absolute;
	width: 654px;
	height: 113px;
	left: 250px;
	top: 152px;
	font-weight: bold;
	font-size: 32px;
	line-height: 37px;
	display: flex;
	align-items: center;
	color: #444444;
}

#bloc1_text2{
	position: absolute;
	width: 569px;
	height: 33px;
	left: 250px;
	top: 325px;
	font-weight: normal;
	font-size: 23px;
	line-height: 32px;
	display: flex;
	align-items: center;
	color: #444444;
}

#spec-predl{
	position: absolute;
	width: 430px;
	height: 513px;
	left: 1000px;
	top: 123px;
	background: #FFFFFF;
	box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.24);
	border-radius: 2px;
}

.spec_pred_ogr{
	position: absolute;
	width: 300px;
	height: 37px;
	left: 65px;
	top: 173px;
	font-style: normal;
	font-size: 14px;
	line-height: 18px;
	display: flex;
	align-items: center;
	color: #80A2C5;
}


#spec-predl-butt{
	position: absolute;
	width: 300px;
	height: 50px;
	left: 65px;
	top: 407px;
	background: #FF5C5C;
	box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.24);
	border-radius: 2px;
}

#spec-predl-butt p{
	justify-content: center;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	color: #FFFFFF;
}

#spec-predl-text1{
	position: absolute;
	margin-top: 50PX;
	margin-left: 63px;
	margin-right: 67px;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	line-height: 32px;
	display: flex;
	align-items: center;
	color: #444444;
}

.inputs_text{
	font-style: normal;
	font-size: 16px;
	line-height: 25px;
	display: flex;
	align-items: center;
	color: #444444;
}

.inputs_input{
	width: 300px;
	height: 30px;
	background: #EDEFF2;
	box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.12);
	border-radius: 2px;
	text-indent: 10px;
}

.inputs{
	margin-top: 240px;
	margin-left: 65px;
	margin-right: 65px;
}

.phone{
	margin-top: 20px;
}

.descr{
	position: absolute;
	width: 248px;
	height: 16px;
	margin-top: 105px;
	margin-left: 91px;
	margin-right: 91px;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	line-height: 12px;
	display: flex;
	align-items: center;
	text-indent: 10px;
	color: #BCBFC4;
}

.group{
	position: absolute;
	width: 586.86px;
	height: 143px;
	left: 259.67px;
	top: 398px;
	display: flex;
}

.group_picha1{
	background: url('../images/Ellipse.svg') no-repeat;
	position: absolute;
	width: 89.33px;
	height: 86px;
	align-items: center;
	marker-end: 20px;
	display: flex;
	margin-left: 12.46px;
	margin-right: 13.15px;
}

.picha1{
	width: 46.74px;
	height: 43px;
	margin-left: 20.77px;
	display: flex;
}

.group1{
	position: absolute;
	width: 115.29px;
	height: 143px;
	display: flex;
}

.group2{
	position: absolute;
	width: 115.29px;
	height: 143px;
	display: flex;
	margin-left: 229.55px;
}

.group3{
	position: absolute;
	width: 115.29px;
	height: 143px;
	display: flex;
	margin-left: 473.64px;
}

#picha_text{
	position: absolute;
	width: 115.29px;
	height: 37px;
	margin-top: 109px;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #444444;
};

.blok2{
	position: absolute;
	display: flex;
	flex-direction: column;
	top: 630px;
	width: 1680px;
	height: 608px;
}

.prod{
	display: flex;
 	flex-direction: row;
  	padding-left: 450px;
  	margin-top: 226px;
}

.plot1 {
	margin-right: 141px;
	width: 180px;
	height: 170px;
	border-radius: 4px;
}

.plot1:active {
	margin-right: 141px;
	border: 1px solid #FFF;
	width: 180px;
	height: 170px;
	background: #FAFAFA;
	box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
}

.blok2_h {
	position: absolute;
	left: 690px;
	top: 716px;
	font-style: normal;
	font-weight: 500px;
	font-size: 32px;
	line-height: 37px;
	color: #646566;
}

#content{
	position: absolute;
	display: flex;
	flex-direction: column;
}

#line_img {
	margin-top: 385px;
}

.plot_img{
	width: 42px;
	height: 64px;
	margin-left: 65px;
	margin-top: 25px;
}

.plot_text{
	position: absolute;
	margin-left: 18px;
	margin-right: 18px;
	margin-top: 33px;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 23px;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	color: #646566;
}

.slader{
	position: absolute;
	width: 1180px;
	height: 219px;
	margin-left: 250px;
	margin-top: 61px;
	display: flex;
	flex-direction: row;
}

.slader_text{
	width: 680px;
	height: 219px;
	display: flex;
	flex-direction: column;
	margin-right: 86px;
}

#left_img{
	margin-top: 104px;
	width: 42px;
	height: 42px;
	margin-left: 0px;
}

#content_img{
	margin-left: 58px;
	margin-right: 86px;
	margin-top: 5px;
	width: 214px;
	height: 214px;
}

#right_img{
	margin-top: 104px;
	width: 42px;
	height: 42px;
	margin-right: 0px;
	margin-left: 58px;
}

#slader_h{
	position: absolute;
	font-weight: bold;
	font-size: 18px;
	line-height: 26px;
	letter-spacing: 0.04em;
	color: #939599;
}

#slader_text_dop{
	position: absolute;
	width: 680px;
	height: 55px;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	margin-top: 62px;
}

#slader_butt{
	position: absolute;
	width: 290px;
	height: 50px;
	margin-top: 157px;
	font-weight: bold;
	font-size: 14px;
	line-height: 22px;
	color: #FF5C5C;
	border-radius: 5px;
	background: #FFFFFF;
	border: 2px solid #FFAEAE;
	box-sizing: border-box;
	box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.24);
	border-radius: 4px;
}

.blok3{
	position: absolute;
	width: 1179px;
	height: 1282px;
	left: 250px;
	top: 1538px;
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
}

.blok3_h{
	width: 580px;
	height: 38px;
	font-weight: 500;
	font-size: 32px;
	line-height: 37px;
	color: #646566;
	align-items: center;
	text-align: center;
}

.card{
	margin-top: 60px;
	position: absolute;
	width: 1179px;
	height: 860px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.card_row{
	width: 275px;
	height: 860px;
	margin-right: 27px;
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;

}

.card_content{
	width: 273px;
	height: 260px;
	margin-top: 20px;
	background: #FFFFFF;
	box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.24);
	border-radius: 5px;
}

.card_content:active {
	margin-right: 14px;
	border: 1px solid #FFF;
	width: 270px;
	height: 257px;
	background: #FAFAFA;
	box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
}


#card1{
	background: url('../images/1.svg') no-repeat center;

}

#card2{
	background: url('../images/2.svg') no-repeat center;
}

#card3{
	background: url('../images/3.svg') no-repeat center;
}

#card4{
	background: url('../images/4.svg') no-repeat center;
}

#card5{
	background: url('../images/5.svg') no-repeat center;
}

#card6{
	background: url('../images/6.svg') no-repeat center;
}

#card7{
	background: url('../images/7.svg') no-repeat center;
}

#card8{
	background: url('../images/8.svg') no-repeat center;
}

#card9{
	background: url('../images/9.svg') no-repeat center;
}

#card10{
	background: url('../images/10.svg') no-repeat center;
}

.card_content_text{
	position: absolute;
	margin-left: 22px;
	width: 228px;
	height: 49px;
	margin-top: 25px;
	font-weight: bold;
	font-size: 16px;
	line-height: 26px;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	color: #646566;
}

.card_text{
	position: absolute;
	width: 228px;
	height: 157px;
	margin-top: 96px;
	margin-left: 37px;
	display: flex;
	flex-direction: column;
}

.card_item_text{
	flex-direction: row;
	font-weight: normal;
	font-size: 12px;
	line-height: 15px;
	margin-top: 10px;
	display: flex;
	align-items: flex-start;
}

.left15{
	margin-left: 15px;
	margin-right: 23px;
}

#close_pred{
	position: absolute;
	margin-top: 980px;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	color: #FFAEAE;
}

.close_pred_img{
	position: absolute;
	width: 46px;
	height: 46px;
	margin-top: 1007px;
}

.close_pred_img:active {
	position: absolute;
	width: 40px;
	height: 40px;
	margin-top: 1007px;
}

#blok3_text2{
	position: absolute;
	width: 394px;
	height: 51px;
	top: 1113px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 25px;
	display: flex;
	text-align: center;
	color: #646566;
}

.blok3_butt{
	position: absolute;
	width: 370px;
	height: 50px;
	top: 1194px;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	color: #EEEEEE;
	text-transform: uppercase;
	background: #FF5C5C;
	box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.24);
	border-radius: 2px;
}

.blok3_butt:active{
	position: absolute;
	width: 367px;
	height: 47px;
	top: 1194px;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	color: #EEEEEE;
	text-transform: uppercase;
	background: #FF5C5C;
	box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.24), 0px 2px 4px rgba(0, 0, 0, 0.24);
	border-radius: 2px;
}

.blok4{
	position: absolute;
	width: 1680px;
	height: 1032px;
	left: 0px;
	top: 2920px;
	background: url('../images/image.svg') no-repeat center;
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
}

.blok4_h{
	position: absolute;
	width: 580px;
	height: 38px;
	left: 662px;
	top: 60px;
	font-weight: 500;
	font-size: 32px;
	line-height: 37px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #646566;
}

.blok4_tetx{
	position: absolute;
	width: 980px;
	height: 620px;
	left: 350px;
	top: 125px;
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	justify-content: flex-start;
}

#blok4_text_content{
	position: absolute;
	margin-top: 20px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 25px;
	color: #646566;
}

#blok4_text_1{
	position: absolute;
	width: 980px;
	height: 26px;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 25px;
	display: flex;
	align-items: center;
	text-decoration-line: underline;
	color: #FF5C5C;
	margin-top: 400px;
}

.utp{
	position: absolute;
	width: 1003px;
	height: 124px;
	left: 350px;
	top: 621px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.element{
	width: 202px;
	height: 124px;
	flex-direction: column;
	align-content: center;
	align-items: center;
	justify-content: flex-start;
	margin-right: 60px;
}

.procent{
	position: absolute;
	width: 172px;
	height: 59px;
	font-weight: bold;
	font-size: 41px;
	line-height: 59px;
	display: flex;
	align-items: flex-start;
	color: #FF5C5C;
}

.procent_txt{
	position: absolute;
	width: 200px;
	height: 55px;
	top:69px;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	display: flex;
	align-items: flex-start;
	color: #646566;
}

.blok5{
	position: absolute;
	width: 1180px;
	height: 510px;
	left: 250px;
	top: 4052px;
	flex-direction: column;
	align-content: center;
	align-items: center;
}

#blok5_h{
	width: 580px;
	height: 38px;
	margin-left: 300px;
	font-weight: 500;
	font-size: 32px;
	line-height: 37px;
	align-items: center;
	text-align: center;
	color: #646566;
}

.blok5_content{
	width: 1180px;
	height: 392px;
	top: 118px;
	flex-direction: column;
	align-content: center;
	align-items: center;
	margin-top: 80px;
}

.blok5_row{
	width: 1180px;
	height: 156px;
	display: flex;
	flex-direction: row;
	align-content: center;
	align-items: center;
	justify-content: space-between;
	margin-top: 80px;
}

.blok5_element{
	width: 280px;
	height: 156px;
	margin-right: 20px;
	flex-direction: column;
	align-content: center;
	text-align: center;
}

.blok5_content_text{
	width: 280px;
	height: 47px;
	font-weight: normal;
	font-size: 16px;
	line-height: 23px;
	align-items: center;
	text-align: center;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	color: #444444;
	margin-top: 19px;
	background-color: #FFA3;
}

.blok5_img{
	margin-left: 95px;
	margin-right: 94px;
}